body {
    background: url(rect8.jpg);
}

.menu_link {
    color: rgb(87, 82, 75);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /* text-decoration: none; */
    font-weight: bold;
}